*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Congenial Regular";
  src: url("../fonts/Congenial\ Regular.woff") format("woff");
}
@font-face {
  font-family: "Congenial Bold";
  src: url("../fonts/Congenial\ Bold.woff") format("woff");
}
body {
  background-image: linear-gradient(180deg, #451f58 10%, #8c3692 100%);

  height: 100dvh;
  font-family: "Congenial Bold", sans-serif;

  line-height: 1.5;
}

header img {
  max-width: 90px;
  width: 100%;
  height: 100%;
}
header,
header .icons {
  display: flex;
  align-items: center;
  gap: 0.6em;
}
header {
  justify-content: space-between;
}
header .icons svg:not(:last-child) {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  padding: 6px;
}
header.container {
  padding-inline: 3px 10px;
}
.container {
  max-width: 600px;
  padding-inline: 10px;
  margin-inline: auto;
}
.main .para-1 {
  font-size: 18px;

  margin-top: 30px;
  color: white;
}
.moon_timer {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 60px;
  color: white;
  max-width: 370px;
}
.moon_timer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 70px;
  width: 80%;
  height: 400px;
  background-repeat: no-repeat;
  background-image: url("../media/moon.png");
  z-index: -1;
}
.timer_count {
  font-size: 52px;
  padding-right: 10px;
}
.valid {
  margin-top: 220px;
  font-size: 28px;
  color: white;
  text-align: center;
}

@media (max-width: 433px) {
  .moon_timer::before {
    left: 50px;
  }
}
